<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    
    <h1>User LOGIN: </h1>
    
    <form action="validate" method="post">
               
             <label>Email : 
                 <input type="text" name="email" placeholder="Enter email">
             </label>
             <br>
             
             <label>Password : 
                  <input type="text" name="password" placeholder="Enter password">
             </label>
             <br>
             
             <input type="submit" value="LOGIN"/>
      </form>

</body>
</html>